@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Londrina+Sketch&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mouse+Memoirs&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oxygen:wght@300;400;700&display=swap');

:root {
    /* Colors */
    --body-color: #131313;
    --primary-color: #FF3E3E;
    --secondary-color: #eee;
    
    /* Fonts */
    --primary-font: "Mulish", sans-serif;
    --secondary-font: "Londrina Solid", sans-serif;
    --name-font: "Londrina Sketch", sans-serif;
    --hi-font: "Mouse Memoirs", sans-serif;

    /* Transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}


body {
    background-color: var(--body-color); 
    height: 100vh;
    display: flex;
    align-items: center;  
    justify-content: center;
}

body:hover > #trailer {
    opacity: 1;
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    border-radius: 6px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
    box-shadow: #00000050 0px 0px 10px;
}

#trailer span {
    position: fixed;
    opacity: 100;
    transition: opacity 500ms ease;
    font-family: var(--secondary-font);
    font-size: 6px;
    color: var(--secondary-color);
    text-align: center;
    line-height: 5px;
}

#trailer-text {
    text-shadow: #00000050 0px 0px 5px;
}

#trailer span.hidden {
    opacity: 0;
    transition: opacity 200ms ease;
}

header {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;     
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: fade-in 1.5s;
  }
  
  .logo {
    width: 75px;
    height: auto;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    transition: var(--tran-03);
    scale: 1;
    animation:  tilt-in-top 1s;
  }

  .logo:hover {
    scale: 0.95;
    transition: var(--tran-03);
  }

.home-text {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: #1a1a1a70 0px 0px 20px;
    animation: fade-in 1s;
}

.hi-text {
    font-family: var(--hi-font);
    font-size: 80px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: -220px;
    animation: puff-in-center 0.5s;
}

.name-text {
    font-family: var(--name-font);
    font-size: 250px;
    font-weight: 500;
    line-height: 190px;
    margin-bottom: 105px;
    position: relative;
    color: var(--secondary-color);
    transition: var(--tran-03);
    cursor: pointer;
    animation: puff-in-center 0.7s;
}

.name-text:hover {
    transition: var(--tran-03);
}


/* ANIMATIONS */

@keyframes puff-in-center {
    0% {
      transform: scale(2);
      filter: blur(15px);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes tilt-in-top {
    0% {
      transform: rotateY(-30deg) translateY(-300px) skewY(30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }